html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.clean-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 0 0 10px #000000;
  user-select: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.5;
}

.clean-btn:hover {
  opacity: 1;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 0 0 10px #000000;
  user-select: none;
  padding: 10px;

  .credit__heart {
    color: red;
  }

  a {
    color: #add8e6;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.credit:hover {
  opacity: 1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.name {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 4vw;
  text-shadow: 0 0 5px #000000;
  user-select: none;
  pointer-events: none;
  font-family: "Great Vibes", cursive;
}

.name__highlight {
  color: #fff;
  text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0,
    0 0 50px #ff0, 0 0 60px #ff0, 0 0 70px #ff0;
}

@media all and (min-width: 640px) {
  .name {
    font-size: 45px;
  }
}
